[submodule "master"]
	path = master
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/CategoryTree.git
[submodule "ParserFunctions"]
	path = ParserFunctions
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/ParserFunctions.git
[submodule "ConfirmEdit"]
	path = ConfirmEdit
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/ConfirmEdit.git
[submodule "WikiEditor"]
	path = WikiEditor
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/WikiEditor.git
[submodule "SyntaxHighlight_GeSHi"]
	path = SyntaxHighlight_GeSHi
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/SyntaxHighlight_GeSHi.git
[submodule "Vector"]
	path = Vector
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Vector.git
[submodule "PostEdit"]
	path = PostEdit
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/PostEdit.git
[submodule "intersection"]
	path = intersection
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/intersection.git
[submodule "Nuke"]
	path = Nuke
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Nuke.git
[submodule "Babel"]
	path = Babel
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Babel.git
[submodule "Math"]
	path = Math
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Math.git
[submodule "Gadgets"]
	path = Gadgets
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Gadgets.git
[submodule "Interwiki"]
	path = Interwiki
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Interwiki.git
[submodule "Sudo"]
	path = Sudo
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Sudo.git
[submodule "Editcount"]
	path = Editcount
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Editcount.git
[submodule "InputBox"]
	path = InputBox
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/InputBox.git
[submodule "AntiSpoof"]
	path = AntiSpoof
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/AntiSpoof.git
[submodule "Awesomeness"]
	path = Awesomeness
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Awesomeness.git
[submodule "Cite"]
	path = Cite
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Cite.git
[submodule "DismissableSiteNotice"]
	path = DismissableSiteNotice
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/DismissableSiteNotice.git
[submodule "VoteNY"]
	path = VoteNY
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/VoteNY.git
[submodule "Scribunto"]
	path = Scribunto
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Scribunto.git
[submodule "CodeEditor"]
	path = CodeEditor
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/CodeEditor.git
[submodule "MobileFrontend"]
	path = MobileFrontend
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/MobileFrontend.git
[submodule "langcode"]
	path = langcode
	url = https://github.com/zuzak/mw-langcode-magic.git
[submodule "StickToThatLanguage"]
	path = StickToThatLanguage
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/StickToThatLanguage.git
[submodule "AbsenteeLandlord"]
	path = AbsenteeLandlord
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/AbsenteeLandlord.git
